body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.center {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: white;
    cursor: pointer;
}

.center::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-20deg);
    transition: left 0.5s ease;
}

.center:hover::before {
    left: 100%;
}

.left,
.right {
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}

.left:hover,
.right:hover {
    color: #ff4500;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: black;
}

.main-text {
    max-width: 50%;
}

.main-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.main-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-text p {
    margin-bottom: 30px;
    color: #ccc;
}

.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.buttons .btn:not(:last-child) {
    margin-right: 10px;
}

.btn-primary {
    background-color: red;
}

.main-image {
    max-width: 50%;
}

.main-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.car-section {
    display: flex;
    padding: 40px;
    background-color: #222;
}

.car {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.car img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.car h3 {
    margin: 10px 0;
    font-size: 18px;
}

.car p {
    color: #aaa;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.social-media div {
    text-align: center;
}

.social-media img {
    width: 50px;
    height: 50px;
}

.social-media p {
    margin-top: 10px;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


.footer-left p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-middle h4,
.footer-right h4 {
    font-size: 16px;
    margin-bottom: 10px;
}