* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Kerree.lnk');
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
}


.glass-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


.login-box {
    text-align: center;
}


h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 8px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007acc;
    outline: none;
}
input::placeholder {
    color: #bfbfbf;
}


input[type="checkbox"] {
    margin-top: 10px;
}
label {
    font-size: 14px;
    margin-bottom: 10px;
}
a {
    color: #add8e6;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007acc;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

